@import "tailwindcss";
@import "swiper/css"; /* Swiper ana CSS */
@import "swiper/css/free-mode"; /* Swiper free-mode modülünün CSS'i */
/* ... diğer global stil içerikleri ... */

html {
  font-family: "Lora", serif;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora/Lora-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
/* Ek fontlar için de aynı şekilde devam et (Medium, SemiBold vs.) */

/* Example styles for h1 */
h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -2%;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
}
h3 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0%;
}
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  font-weight: bold;
}

img,
image {
  pointer-events: none;
}

button,
a {
  cursor: pointer;
}

@layer components {
  .btn-primary {
    @apply bg-[#1376F8] text-white py-4 px-6 rounded-lg font-medium hover:bg-[#1C357D] transition;
  }
}

@layer utilities {
  .containerHome {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }
}
